/**
 *  Name: ResourceR
 *  Version: 1.0
 *  Designed By: Muhammad Umer Farooq
 */

 @import url('https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons');
 
.v-application--wrap {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e7e8e8!important;
    padding: 16px;
}
.v-application--wrap {
    padding: 0px;
    margin: 0px;
}
.v-window-item--active {
    background-color: #e7e8e8;
}
a {
    color: #000!important;
    text-decoration: none!important;
}
a:hover {
    text-decoration: none!important;
}

select, option {
    width: 100%;
    padding: 18px;
    border: 1px solid black;
}
.label-custom {
    padding: 12px;
}
.title {
    font-weight: 100;
    font-size: 22px;
    text-transform: uppercase;
}
.department-select {
    display:flex!important;
    padding-top: 18px;
    padding: 6px;
}
.department-select .left {
    width: 35px;
}
.department-select .right {
    float: right!important;
    margin-left: 90px;
    margin-top: 20px;
}
.department-select .center {
    margin-top: 3px;
}
.department-select .name {
    width: 400px;
}
.department-select .cr {
    margin-top: -12px;
    font-size: 12px;
    font-weight: 100;
    color: #000;
    opacity: 0.6;
}
.department-select:hover {
    background-color: #e7e8e8;
}
.res:hover {
    background-color: #e7e8e8;
}
.res_right {
    padding: 25px;
}
.resource {
    display: flex;
    padding-top: 18px;
    padding: 6px;
}
.resource .center .name, .resource .center .cr {
    font-family: monospace;
    word-break: break-all;
    width: auto;
}
.resource .center strong {
    font-weight: 600;
}
.resource .left img, .resource .left svg {
    width: 30px;
    margin-top: 26px;
}
.res_right {
    float: right !important;
    margin-top: 25px;
}
.res_right a:first-child{
    margin-left: -16px;
}
.res_right .v-icon.v-icon {
    font-size: 30px;
    padding: 6px;
}
.resource .center {
    margin-top: 19px;
    margin-left: 5px;
}
.resource .name {
    width: 400px;
}
.resource .cr {
    margin-top: -12px;
    font-size: 12px;
    font-weight: 100;
    color: #000;
    opacity: 0.6;
}
.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.breadcrumb { 
    list-style: none; 
    overflow: hidden; 
}
.breadcrumb li {
    color: 000;
    position: relative; 
    display: block;
    float: left;
    padding: 10px;
}
.breadcrumb > li {
    display: flex;
    float: left;
    height: 10px;
    width: auto;
    color: #000;
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
    align-items: center;
}
.linked {
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
.desktop-header {
    padding: 13px;
}
.page {
    margin-top: -350px;
}
.mobile-only {
    display: none;
}
@media only screen and (max-width: 1580px) {
    .page {
        margin-left: 150px;
    }
}
@media only screen and (max-width: 1400px) {
    .page {
        margin-left: 250px;
    }
}
@media only screen and (max-width: 1380px) {
    .desktop-header {
        display: none;
        padding: 0px;
    }
    .page {
        margin-top: 0px;
        margin-left: 0px;
    }
    .mobile-only {
        display: inline;
    }
    .v-menu__content {
        top: 50px!important;
    }

}
