/**
 *  Name: lablnet
 *  Version: 1.0
 *  Designed By: Muhammad Umer Farooq
 */

 @import url('https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons');
 
 .v-application--wrap {
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: #e7e8e8!important;
     padding: 16px;
 }
 
  a {
    color: #000!important;
    text-decoration: none!important;
 }
  a:hover {
    text-decoration: none!important;
 }

 select, option {
   width: 100%;
   padding: 12px;
   border: 1px solid black;
 }
 .label-custom {
   padding: 12px;
 }
 @media only screen and (max-width: 1380px) {

 }
 
